<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium harum atque commodi dolorum inventore. Minima cumque omnis consectetur ab, sit praesentium nulla mollitia dolorum deleniti vitae ipsum harum magni facilis.</p>
        
    </div>
</section>