<div class="jumbotron mt-4">
    <h1 class="display-4">Bricks & Buckets</h1>
    <h3 class="lead">Player Stats per game</h3>
    <hr class="my-4"/>
    <div class="statsContainer">
        <div class="ppgContainer">
            <h4>ppg</h4>
            <h3>16.6</h3>
        </div>

          <div class="astContainer">
            <h4>apg</h4>
            <h3>7.2</h3>
        </div>

          <div class="rpgContainer">
            <h4>rpg</h4>
            <h3>8.1</h3>
        </div>

          <div class="spgContainer">
            <h4>spg</h4>
            <h3>1.6</h3>
        </div>

          <div class="fpgContainer">
            <h4>fpg</h4>
            <h3>3.2</h3>
        </div>

    </div>
    {{!-- <a href="https://www.linkedin.com/in/gonzalo-nicol%C3%A1s-pirovano-87a18b201/" class="btn btn-primary">Linkedin</a> --}}

</div>