
<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">

    <h3>New Game</h3>

    <form action="/notes/add-note" method="POST">
     
    

      <div class="form-group">
        <input type="text" name="rival" class="form-control" placeholder="rival" autofocus/>
      </div>


      <div class="form-group">
        <input name="points" type="number" class="form-control" placeholder="points" autofocus/>
      </div> 

       <div class="form-group">
        <input name="assists" type="number" class="form-control" placeholder="assists" autofocus/>
      </div> 

       <div class="form-group">
        <input name="rebounds" type="number" class="form-control" placeholder="rebounds" autofocus/>
      </div> 

       <div class="form-group">
        <input name="steals" type="number" class="form-control" placeholder="steals" autofocus/>
      </div> 

      <div class="form-group">
        <input name="fouls" type="number" class="form-control" placeholder="fouls" autofocus/>
      </div> 

     <div class="form-group">
        <button class="btn btn-primary btn-block">Add Game</button>
      </div> 

    </form>
        </div>
    </div>
</div>